/* CSS Document */
body {text-align: center; background-image: url(../img/bgnoise.png); background-repeat: repeat-xy; color: white !important;}
body a {text-decoration: none;}
div.body {clear:both; width: 960px; min-height: 600px; 
background-color: #FFFFFF; margin: auto; -moz-border-radius: 15px; border-radius: 15px; margin-bottom: 15px; color: black;}
div.padfix {padding-left: 10px;
padding-right: 10px;}
div.body a {color: black;}
div.content {padding: 10px 10px 10px 10px; overflow: auto;}
div.break {height: 50px;}
div.tpanel{
position: fixed;
width: 100%;
z-index: 10;
}
.navbar{
margin-bottom: 0px !important; 
}
/* Some nice tweaks for Webkit */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #FFF;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.1);
}
::-webkit-scrollbar-thumb {
    background: #CCC;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.2);
}
::-webkit-scrollbar-thumb:hover {
    background: #AAA;
}
::-webkit-scrollbar-thumb:active {
    background: #888;
    -webkit-box-shadow: inset 1px 1px 2px rgba(0,0,0,0.3);
}
