/* CSS Document */
body {text-align: center; background-image: url(../img/bgnoise.png); background-repeat: repeat-xy; color: white !important;}
body a {text-decoration: none;}
div.body {clear:both; width: 960px; min-height: 600px; 
background-color: #FFFFFF; margin: auto; border-radius: 15px; margin-bottom: 15px; color: black !important;}
div.padfix {padding-left: 10px;
padding-right: 10px;}
div.body a {color: black;}
div.content {padding: 10px 10px 10px 10px; overflow: auto;}
div.break {height: 50px;}
div.tpanel{
position: fixed;
width: 100%;
z-index: 10;
}
.navbar{
margin-bottom: 0px !important; 
}
.scrollup {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width: 40px;
	height: 40px;
	
}