<?php
// Generic configuration
$pms_pageauthor = "";
$pms_pagetitle = "Portfolio Management System - Home";
$pms_description = "Another cool website using PMS ;)";
$pms_keywords = "";
$pms_domain = ""; // Root domain, e.g. example.net
$pms_google_plus = "#"; // 0 to disable, otherwise write full Google Plus url
$pms_facebook = "#"; // 0 to disable, otherwise write full facebook url
$pms_twitter = "#"; // 0 to disable, otherwise write full twitter url
$pms_robots = "0"; // 0 to disable search bots access, 1 to enable
$pms_debug_enabled = "1"; // 1 default, 0 to disable displaying of ALL warnings and errors

//Administration - TODO
$pms_password = "1234"; // Password to access administration

// Style
$pms_theme = "silver_perfection"; // silver_perfection is the default one

// Plug-ins
// It'll take some time to do this stuff

// Pages
/* Continue to add your pages, don't forget to upload proper file for each page, eg. page-test.php , 
page-home.php... All space chars are removed from file and all characters are automatically 
converted to lower-case
*/
$menu = array(
"Home",
"Test"
);
?>
