<?php
// Generic configuration
$pms_pageauthor = "";
$pms_pagetitle = "";
$pms_robots = ""; // 0 to disable search bots access, 1 to enable
$pms_zopim = ""; // 0 to disable, otherwise write full zopim embed code
$google_plus = ""; // 0 to disable, otherwise write full Google Plus url
$facebook = ""; // 0 to disable, otherwise write full facebook url
$twitter = ""; // 0 to disable, otherwise write full twitter url
$debug_enabled = "1"; // 1 default, 0 to disable displaying of ALL warning and errors

// Pages
/* Continue to add your pages, don't forget to upload proper file for each page, eg. page-test.php , 
page-home.php... All space chars are removed from file and all characters are automatically 
converted to lower-case
*/
$menu = array(
"Home",
"Test"
);
?>
