<?php
// Generic configuration
$pms_maintenance = "0"; // Set 1 to disable entire website (administration will work)
$pms_pageauthor = "";
$pms_pagetitle = "Portfolio Management System - Home";
$pms_description = "Another cool website using PMS ;)";
$pms_keywords = "";
$pms_domain = ""; // Root domain, e.g. example.net
$pms_google_plus = "#"; // 0 to disable, otherwise write full Google Plus url
$pms_facebook = "#"; // 0 to disable, otherwise write full facebook url
$pms_twitter = "#"; // 0 to disable, otherwise write full twitter url
$pms_robots = "0"; // 0 to disable search bots access, 1 to enable
$pms_debug_enabled = "1"; // 1 default, 0 to disable displaying of ALL warnings and errors

//Administration
$pms_admin_disabled = "0"; // Set 1 to disable admin account
$pms_password = "1234"; // Password to access administration
$pms_language = "en"; // Language for administration

// Style
$pms_theme = "silver_perfection"; // silver_perfection is the default one

// Plug-ins
// It'll take some time to do this stuff
?>